{% extends 'partials/_carrossel.html' %}

{% block id %}id2{% endblock %}
{% block spantitle %}Portfólio{% endblock %}
{% block title %}Imóveis próximos do metrô{% endblock %}

{% block cardsarea %}
    {% if imoveis != [] %}
        {% for imovel in imoveis %}
            {% with imovel=imovel %}
                {% include 'partials/_novo_card.html' %}
            {% endwith %}
        {% endfor %}
        {% with imovel=imoveis[0] %}
            {% include 'partials/_novo_card.html' %}
        {% endwith %}
    {% endif %}
{% endblock %}