{% extends 'partials/_carrossel.html' %}

{% block spantitle %}Portfólio{% endblock %}
{% block title %}Imóveis Destaque{% endblock %}

{% block cardsarea %}
    {% if imoveis != [] %}
        {% for imovel in imoveis %}
            {% if imovel.esta_em_destaque == True %}
                {% with imovel=imovel %}
                    {% include 'partials/_novo_card.html' %}
                {% endwith %}
            {% endif %}
        {% endfor %}
        {% with imovel=imoveis[0] %}
            {% include 'partials/_novo_card.html' %}
        {% endwith %}
    {% endif %}
{% endblock %}